<div class="grid justify-content-center align-content-center min-h-full">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
    <div class="text-center mb-5">
      <div class="text-900 text-3xl font-medium mb-3">Passwort ändern</div>
    </div>
    <form [formGroup]="reset" (ngSubmit)="onSubmit()" novalidate>
      <label for="email1" class="block text-900 font-medium mb-2">Email</label>
      <input formControlName="email" id="email1" type="email" pInputText class="w-full mb-3" />
      <button pButton pRipple label="Email senden" icon="pi pi-send" class="w-full mt-6"></button>
    </form>
    <p-divider align="center" type="dashed"> </p-divider>
    <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer" [routerLink]="['/auth/login']">Zurück...</a>
  </div>
</div>
