<h2>╔ 1 ╗</h2>
<p>Freundlichkeit hat oberste Priorität. Streit braucht keiner!</p>
<h2>╔ 2 ╗</h2>
<p>Nicknames dürfen keine beleidigenden oder anderen verbotenen oder geschützten Namen oder Namensteile enthalten.</p>
<h2>╔ 3 ╗</h2>
<p>Avatare dürfen keine pornographischen, rassistischen, beleidigenden oder andere gegen das deutsche Recht verstoßenden Inhalte beinhalten.</p>
<h2>╔ 4 ╗</h2>
<p>Beleidigungen sind zu unterlassen.</p>
<h2>╔ 5 ╗</h2>
<p>Jegliche Art von Spam ist verboten.</p>
<h2>╔ 6 ╗</h2>
<p>Rassismus, Antisemitismus und Sexismus in jeglicher Form wird nicht geduldet!</p>
<h2>╔ 7 ╗</h2>
<p>Unwissenheit schützt dich nicht vor Konsequenzen, solltest du die Regeln nicht einhalten.</p>
