<div class="layout-dashboard">
  <div class="grid">
    <div class="col-12 mb-4">
      <div class="text-center">
        <div class="text-6xl text-800 font-bold mb-1">Die salzigste Community</div>
        <div class="text-6xl text-primary font-bold mb-4">die existiert</div>
        <p class="mt-0 mb-4 line-height-3 text-center mx-auto text-700" style="max-width: 500px">
          Wenn du eine zuvorkommende liebevolle Umgebung schätzt, eine ruhige liebevolle Atmosphere benötigst, konstruktive Kritik zu deinem Wortschatz gehört und dein Lebensinhalt darin besteht es
          jedem Recht zu machen bist du hier definitiv falsch.
        </p>
      </div>
    </div>
    <div class="col-10 mx-auto mb-4">
      <p-divider></p-divider>
    </div>
    <div class="col-12 text-center mb-4">
      <div class="mb-3 font-bold text-4xl">
        <span class="text-900">Beim Salty-Gamingclub ist das </span>
        <span class="text-blue-600">Salz Programm.</span>
        <div class="text-700 text-sm mb-6">Bei mentaler Übersalzung übernehmen wir keine Verantwortung!</div>
      </div>
    </div>
    <div class="header-features mb-4">
      <div class="grid flex">
        <div class="col-12 md:col-4">
          <div class="flex justify-content-center card widget-overview-box-1 flex flex-column align-items-center text-center mx-auto">
            <div class="header-feature-box mr-3 mb-4">
              <span class="block font-bold mb-3">"Der Gegner ist besser als ich"-Salz</span>
              <span class="content">Gerne in einer pikanten Soße.</span>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-4">
          <div class="flex justify-content-center card widget-overview-box-1 flex flex-column align-items-center text-center mx-auto">
            <div class="header-feature-box mr-3 mb-4">
              <span class="block font-bold mb-3">"Meine Teammates spielen schlechter als ich"-Salz</span>
              <span class="content">Für die richtige Würze des "Der Gegner ist besser als ich"-Salz.</span>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-4">
          <div class="flex justify-content-center card widget-overview-box-1 flex flex-column align-items-center text-center mx-auto">
            <div class="header-feature-box mr-3 mb-4">
              <span class="block font-bold mb-3">"Hate"-Salz</span>
              <span class="content">Passend für jede gelegenheit. Wahlweise auch als "Hater-Hate"-Salz und "Hater-Hater-Hate"-Salz</span>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-4">
          <div class="flex justify-content-center card widget-overview-box-1 flex flex-column align-items-center text-center mx-auto">
            <div class="header-feature-box mr-3 mb-4">
              <span class="block font-bold mb-3">"Der War voll Drauf!"-Salz</span>
              <span class="content"></span>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-4">
          <div class="flex justify-content-center card widget-overview-box-1 flex flex-column align-items-center text-center mx-auto">
            <div class="header-feature-box mr-3 mb-4">
              <span class="block font-bold mb-3">"RandomKill"-Salz</span>
              <span class="content"></span>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-4">
          <div class="flex justify-content-center card widget-overview-box-1 flex flex-column align-items-center text-center mx-auto">
            <div class="header-feature-box mr-3 mb-4">
              <span class="block font-bold mb-3">"Der muss Hacken!"-Salz</span>
              <span class="content"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-10 mx-auto mb-4">
      <div
        class="p-6 shadow-2 flex flex-column md:flex-row align-items-center justify-content-between"
        style="border-radius: 1rem; background: linear-gradient(0deg, rgba(0, 123, 255, 0.5), rgba(0, 123, 255, 0.5)), linear-gradient(92.54deg, #1c80cf 47.88%, #ffffff 100.01%)"
      >
        <div class="pr-6">
          <div class="text-white font-medium text-5xl">Egal was du suchst, wir haben so gut wie jedes Salz vorrätig.</div>
        </div>
        <div class="mt-4 mr-auto md:mt-0 md:mr-0">
          <button pButton pRipple label="Kannst uns glauben" class="font-bold px-5 py-3 p-button-warning p-button-rounded p-button-raised white-space-nowrap" disabled></button>
        </div>
      </div>
    </div>
    <div class="col-12 widget-customer-carousel">
      <div class="text-900 mb-3 font-bold text-4xl text-center">Wir betreiben allerlei Spiele-Server</div>
      <div class="text-600 mb-6 line-height-3 text-xl text-center">Also redet mit uns wenn ihr mitmachen wollt. Hier sind selbst die Admins Salzig, wenn ihr lieb seid!</div>
      <!--      <p-carousel [value]="gamesCarousel" [numVisible]="4" [numScroll]="1" [circular]="true"-->
      <!--                  [responsiveOptions]="responsiveOptions">-->
      <!--        <ng-template let-game pTemplate="item">-->
      <!--          <div class="card mr-4">-->
      <!--            <div class="customer-item-content">-->
      <!--              <div>-->
      <!--                <img [src]="game.image" alt="game.name" class="product-image" height="100">-->
      <!--              </div>-->
      <!--              <div>-->
      <!--                <h4>-->
      <!--                  {{game.name}}-->
      <!--                </h4>-->
      <!--              </div>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </ng-template>-->
      <!--      </p-carousel>-->
      <div class="grid">
        <div class="col-12 md:col-6 lg:col-3">
          <div class="flex align-items-center justify-content-center p-3">
            <img src="assets/images/ark-server-png-4.png" alt="ARK Server" style="width: 100px" />
          </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
          <div class="flex align-items-center justify-content-center p-3">
            <img src="assets/images/Garry's_Mod_logo.svg.png" alt="Garry's Mod Server" style="width: 100px" />
          </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
          <div class="flex align-items-center justify-content-center p-3">
            <img src="assets/images/Minecraft-Logo.png" alt="Minecraft Server" style="width: 100px" />
          </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
          <div class="flex align-items-center justify-content-center p-3">
            <img src="assets/images/1424167075_preview_TTT.jpg" alt="TTT Server" style="width: 100px" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-10 mx-auto mb-4">
      <p-divider></p-divider>
    </div>
    <div class="col-12 mb-4">
      <div>
        <div class="text-900 font-bold text-4xl line-height-3 mb-3 text-center">Kommt zu uns auf unseren TeamSpeak-Server oder besucht unseren Discord</div>
        <p class="text-600 line-height-3 text-lg m-0 mb-6 text-center">Außer ihr salzt euer Nudelwasser nicht, dann lasst es!</p>
        <div class="w-full pl-0 lg:pl-5 pt-5">
          <!--          <div id="ts3viewer_1127440" class="bg-white-alpha-10"></div>-->
          <p-divider align="center" type="dashed">
            <b>oder</b>
          </p-divider>
          <iframe
            src="https://ptb.discord.com/widget?id=943544120742387813&theme=dark"
            width="100%"
            height="500"
            allowtransparency="true"
            sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"
            style="border: 0"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
