<p-dialog [(visible)]="game.showDialog" [breakpoints]="{ '960px': '75vw', '640px': '100vw' }">
  <ng-template pTemplate="header">
    <div class="w-full flex justify-content-between align-items-center mr-2">
      <b>{{ game.name }}</b>
      <b
        class="h-3rem px-2 border-1 border-round surface-border flex justify-content-center align-items-center text-center font-medium cursor-pointer"
        style="background-color: var(--green-600); color: white"
        routerLink="spielleiter/companion"
      >
        <i class="mdi mdi-open-in-new mr-2"></i>
        <span>Mitspielersuche</span>
      </b>
    </div>
  </ng-template>
  <ng-template ngFor let-plattform [ngForOf]="game.plattforms">
    <ng-container *ngIf="plattform === 'steam'">
      <div class="mb-2 pb-4">
        <p-divider align="center">
          <p-tag value="Steam" icon="mdi mdi-steam"></p-tag>
        </p-divider>
        <div class="flex flex-row justify-content-center">
          <a
            pRipple
            class="mx-3 p-1 px-3 p-ripple p-element p-button p-component p-button-success noDecoration flex flex-column align-content-center"
            href="steam://openurl/https://store.steampowered.com/app/{{ game.appid }}"
          >
            <span class="p-button-label m-0 fs-5" style="color: var(--primary-color-text)">Open in Steam</span>
            <span class="p-button-text m-0 fs-6" style="color: var(--primary-color-text)">(Client)</span>
          </a>

          <a
            pRipple
            class="mx-3 p-1 px-3 p-ripple p-element p-button p-component p-button-info noDecoration flex flex-column align-content-center"
            href="https://store.steampowered.com/app/{{ game.appid }}"
            target="_blank"
            rel="noopener noreferrer"
          >
            <span class="p-button-label m-0" style="color: var(--primary-color-text)">Open in Steam</span>
            <span class="p-button-text m-0" style="color: var(--primary-color-text)">(Browser)</span>
          </a>

          <a
            pRipple
            class="mx-3 p-0 px-5 p-ripple p-element p-button p-component p-button-success noDecoration flex flex-row justify-content-center align-content-center"
            href="steam://run/{{ game.appid }}"
            style="border: none; background: rgb(80, 200, 47); background-image: linear-gradient(90deg, rgba(80, 200, 47, 1) 0%, rgba(24, 176, 78, 1) 100%)"
          >
            <span class="m-0 mdi mdi-play" style="color: var(--primary-color-text)"></span>
            <span class="m-0 ml-2" style="color: var(--primary-color-text)">SPIELEN</span>
          </a>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="plattform === 'epicgames'">
      <div class="mb-2 pb-4">
        <p-divider align="center">
          <p-tag value="Epic Games" severity="danger"></p-tag>
        </p-divider>
        <div class="flex flex-row justify-content-center">
          <a
            pRipple
            class="mx-3 p-1 px-3 p-ripple p-element p-button p-component p-button-info noDecoration flex flex-column align-content-center"
            href="https://store.epicgames.com/de/browse?q={{ game.name }}&sortBy=relevancy&sortDir=DESC&count=40"
            target="_blank"
            rel="noopener noreferrer"
          >
            <span class="p-button-label m-0" style="color: var(--primary-color-text)">Open in Epic Games</span>
            <span class="p-button-text m-0" style="color: var(--primary-color-text)">(Browser)</span>
          </a>
        </div>
      </div>
    </ng-container>
  </ng-template>

  <div class="mb-2 pb-4">
    <p-divider align="center"> Spielzeit </p-divider>
    <div class="flex flex-column justify-content-center">
      <div class="text-center"><span class="mr-2">Miroslaw:</span><span class="mr-2">38,7 Stunden</span></div>
      <div class="text-center"><span class="mr-2">Malte:</span><span class="mr-2">8,55 Stunden</span></div>
    </div>
  </div>

  <p-divider align="center"></p-divider>
</p-dialog>
