<div class="mx-1 flex flex-column border-1 surface-border border-round" style="width: 25rem">
  <p-divider align="center" styleClass="m-0" class="font-medium">{{ name }}</p-divider>
  <div>
    <span class="m-1 my-2">Wann</span><span class="m-1 my-2 text-600">{{ wann }}</span>
  </div>
  <div>
    <span class="m-1 my-2">Was</span><span class="m-1 my-2 text-600">{{ was }}</span>
  </div>
  <div>
    <span class="m-1 my-2">Wo</span><span class="m-1 my-2 text-600">{{ wo }}</span>
  </div>
  <div>
    <span class="m-1 my-2">Wer macht mit?</span><span class="m-1 my-2 text-600">{{ wer }}</span>
  </div>
</div>
